<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Notes app</title>
</head>
<body>

<div class="container">
    <div class="row">
        <h1>Notes app</h1>
        <br>
        <div class="d-grid justify-content-end">
            <a href="/user-add">
                <button class="btn btn-primary" type="button">Add new user</button>
            </a>
        </div>
        <br>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th><span>User</span></th>
                <th><span>Email</span></th>
                <th><span>Notes</span></th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td>
                    <a th:href="@{/user/{user_id}(user_id=${user.id})}" th:text="${user.firstName} + ' ' + ${user.lastName}"></a>
                </td>
                <td th:text="${user.email}"></td>
                <td style="width: 20%;">
                    <span>Notes: </span>
                    <a th:href="@{/user/{user_id}/note-add(user_id=${user.id})}">Add note</a>
                </td>
                <td style="width: 20%;">
                    <a th:href="@{/user-edit/{user_id}(user_id=${user.id})}">Edit</a> /
                    <a th:href="@{/delete/{user_id}(user_id=${user.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>
